body{
    background-color: #074788;
    color: #FFFFFF;
}

#frame{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: #063778;
    border: 1px;
    border-style: solid;
    border-color: #000040;
    padding-bottom: 2%;
    border-radius: 32px;
    box-shadow: 0px 0px 32px rgba(0,0,0,0.5);
}

#banner{
    background-image: url('/static/banner.jpg');
    height: 160px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 4px;
    border-color: #000040;
    border-style: solid;
    position: relative;
    border-radius: 32px 32px 0 0;
}

#title{
    position: absolute;
    bottom: 0px;
    left: 24px;
}

#content{
    padding-left: 2%;
    padding-right: 2%;
}

#footer{
    text-align: center;
    font-size: 0.85em;
    padding-top: 2%;
}

#graph{
    text-align: center;
}

h1{ font-size: 200%; }
h2{ font-size: 150%; }
h3{ font-size: 130%; }

table{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    border: 1px;
    border-style: solid;
    border-color: #000000;
    box-shadow: 8px 8px 12px rgba(0,0,0,0.4);
    color: #000000;
    background-color: #F0F0F0;
}

tr:nth-child(even) {background: #EEEEEE}
tr:nth-child(odd) {background: #FFFFFF}

th{
    color: #FFFFFF;
    background-color: #000033;
}

td, th{
    border: 1px;
    border-style: dotted;
    border-color: #000000; 
}

td{
    border-color: #CCCCCC;
}

a{ 
    text-decoration: none; 
    font-weight: bold; 
}

a:link { color: #9999FF; }
a:visited { color: #9999FF; }
a:active { color: #9999FF; }
a:hover {color: #FFFF00; }

a.aquariums:link { color: #9999FF; }
a.aquariums:visited { color: #9999FF; }
a.aquariums:active { color: #9999FF; }
a.aquariums:hover { color: #FFFF00; }

a.logs:link { color: #000000; }
a.logs:visited { color: #000000; }
a.logs:active { color: #000000; }
a.logs:hover { color: #0000FF; }

a.equipment:link { color: #000000; }
a.equipment:visited { color: #000000; }
a.equipment:active { color: #000000; }
a.equipment:hover { color: #0000FF; }

a.life:link { color: #000000; }
a.life:visited { color: #000000; }
a.life:active { color: #000000; }
a.life:hover { color: #0000FF; }


.formBox{
    background-color: #000055;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
}

/* Equpiment */

#equipment{
    text-align: center;
}

.equipmentMaintName{
    text-align: left;
    border-right-color: #000000;
}

.equipmentMaintInterval{
    text-align: center;
}

.equipmentMaintLast{
    text-align: center;
}

.equipmentMaintSince{
    text-align: center;
}

td.equipmentMaintOverdue{
    color: #990000;
    font-weight: bold;
    text-align: center;
}

/* Water Logs */

#waterLogs, #logs{
    text-align: center;
}

th.testedOn{
    width: 17%;
}

th.temperature{
    width: 5%;
}

th.ammonia, th.nitrites, th.nitrates, th.phosphates, th.pH, th.KH, th.amountExchanged{
    width: 8%;
}

th.additives{
    width: 15%;
}

th.comments{
    width: 15%;
}

/* Temperature Range Colors */

td.highTemp{
    background-color: #FF2300;
    color: #FFFFFF;
}

/* Ammonia Colors */

td.ammonia000{
    background-color: #FFFF00;
}

td.ammonia025{
    background-color: #C6FF00;
}

td.ammonia050{
    background-color: #A2FF00;
}

td.ammonia100{
    background-color: #66FF00;
}

td.ammonia200{
    background-color: #49B700;
    color: #FFFFFF;
}

td.ammonia400{
    background-color: #3C9700;
    color: #FFFFFF;
}

td.ammonia800{
    background-color: #215400;
    color: #FFFFFF;
}

/* Nitrite Colors */

td.nitrite000{
    background-color: #00FFE4;
}

td.nitrite025{
    background-color: #8A9CFF;
    color: #FFFFFF;
}

td.nitrite050{
    background-color: #8A6BFF;
    color: #FFFFFF;
}

td.nitrite100{
    background-color: #8A47FF;
    color: #FFFFFF;
}

td.nitrite200{
    background-color: #B847FF;
    color: #FFFFFF;
}

td.nitrite500{
    background-color: #9147AB;
    color: #FFFFFF;
}

/* Nitrate Colors */

td.nitrate000{
    background-color: #FFFF00;
}

td.nitrate005{
    background-color: #FFC200;
}

td.nitrate010{
    background-color: #FFAF00;
}

td.nitrate020{
    background-color: #FF9D00;
}

td.nitrate040{
    background-color: #FF5D00;
    color: #FFFFFF;
}

td.nitrate080{
    background-color: #FF2400;
    color: #FFFFFF;
}

td.nitrate160{
    background-color: #9A1500;
    color: #FFFFFF;
}

/* Phosphate Colors */

td.phosphate0000{
    background-color: #F6FAB0;
    color: #000000;
}

td.phosphate0025{
    background-color: #F7FCAA;
    color: #000000;
}

td.phosphate0050{
    background-color: #DDEA94;
    color: #000000;
}

td.phosphate0100{
    background-color: #CAF6AA;
    color: #000000;
}

td.phosphate0200{
    background-color: #A6E6BC;
    color: #000000;
}

td.phosphate0500{
    background-color: #40595E;
    color: #FFFFFF;
}

td.phosphate1000{
    background-color: #183C52;
    color: #FFFFFF;
}

/* Life */

#aquariumLife{
    text-align: center;
}

.lifeCommonName{
    width: 25%;
    text-align: center;
}

.lifeKind{
    width: 25%;
    text-align: center;
}

.lifeNickname{
    width: 25%;
    text-align: center;
}

.lifeDateAdded{
    width: 25%;
    text-align: center;
}

.lifeDateRemoved{
    width: 25%;
    text-align: center;
}

th.lifeLogDate{
    width: 20%;
}

th.lifeLogEntry{
    width: 80%;
}
