body{
    background-color: #074788;
    color: #FFFFFF;
}

#frame{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: #063778;
    border: 1px;
    border-style: solid;
    border-color: #000040;
    padding-bottom: 2%;
    border-radius: 32px;
    box-shadow: 0px 0px 32px rgba(0,0,0,0.5);
}

#banner{
    background-image: url('/static/banner.jpg');
    height: 160px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
	border-bottom: 0px;
    border-style: solid;
    position: relative;
    border-radius: 32px 32px 0 0;
}

/* Navigation bar */

#navBar{
	background-color: #000040;
	border-top: 1px;
	border-bottom: 1px;
	border-left: 0px;
	border-right: 0px;
	border-color: #000000;
    border-style: solid;

}

#navBar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#navBar li {
    float: left;
    display: block;
	font-size: 1em;
	font-weight: bold;
	text-align: center;
    text-decoration: none;
	padding-top: 0.25%;
	padding-bottom: 0.25%;
	padding-left: 1%;
	padding-right: 1%;
	border-top: 0px;
	border-bottom: 0px;
	border-left: 1px;
	border-right: 1px;
	border-color: #000000;
    border-style: solid;
}

#login{
	text-align: right;
    display: block;
	font-size: .8em;
	font-weight: bold;
	text-align: right;
    text-decoration: none;
	padding: 0.25%;
	padding-right: 5%;

}

#navBar a{


}

#title{
    position: absolute;
    bottom: 0px;
    left: 24px;
}

#content{
    padding-left: 2%;
    padding-right: 2%;
}

#footer{
    text-align: center;
    font-size: 0.85em;
    padding-top: 2%;
}

#graph{
    text-align: center;
}

h1{ font-size: 200%; }
h2{ font-size: 150%; }
h3{ font-size: 130%; }

table{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    border: 1px;
    border-style: solid;
    border-color: #000000;
    box-shadow: 8px 8px 12px rgba(0,0,0,0.4);
    color: #000000;
    background-color: #F0F0F0;
}

tr:nth-child(even) {background: #EEEEEE; }
tr:nth-child(odd) {background: #FFFFFF; }
tr:hover { background: #CCCCFF; }

th{
    color: #FFFFFF;
    background-color: #000033;
}

td, th{
    border: 1px;
    border-style: solid;
    border-color: #000000; 
}

td{
    border-color: #DDDDDD;
}

td.blank{
	background: #888888;
	border-color: #888888;
}

a{ 
    text-decoration: none; 
    font-weight: bold; 
}

a:link { color: #9999FF; }
a:visited { color: #9999FF; }
a:active { color: #9999FF; }
a:hover {color: #FFFF00; }

a.aquariums:link { color: #9999FF; }
a.aquariums:visited { color: #9999FF; }
a.aquariums:active { color: #9999FF; }
a.aquariums:hover { color: #FFFF00; }

a.logs:link { color: #000000; }
a.logs:visited { color: #000000; }
a.logs:active { color: #000000; }
a.logs:hover { color: #0000FF; }

a.equipment:link { color: #000000; }
a.equipment:visited { color: #000000; }
a.equipment:active { color: #000000; }
a.equipment:hover { color: #0000FF; }

a.waterAdditives:link { color: #000000; }
a.waterAdditives:visited { color: #000000; }
a.waterAdditives:active { color: #000000; }
a.waterAdditives:hover { color: #0000FF; }

.formBox{
    background-color: #000055;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
}

.pager{
    list-style-type: none;
	text-align: center;
}

.pager li{
    display: inline;
	text-align: center;
    text-decoration: none;
	padding: 0.25%;
}

/* Equpiment */

#equipment{
    text-align: center;
}

table.equipmentCosts, tr.equipmentCosts, th.equipmentCosts, td.equipmentCosts, td.equipmentCostsTotal{
	background-color: transparent;
	border: 0px;
    box-shadow: 0px 0px 0px;
	color: #ffffff;
	text-align: left;
	font-size: 110%;;
}

table.equipmentCosts{
	margin-left: 15%;
	margin-right: 0%;
	width: 25%;
}

th.equipmentCosts{
	width: 75%;
}

td.equipmentCosts, td.equipmentCostsTotal{
	text-align: right;
}

td.equipmentCostsTotal{
	border-top: 1px dotted #ffffff;
}


div.equipmentCosts{
	font-size: 115%;
}

th.equipmentName{
	text-align: center;
	width: 35%;
}

td.equipmentName{
    font-weight: bold;	
}

.equipmentType{
	text-align: center;
	width: 10%;
}

th.equipmentPrice{
	text-align: center;
	width: 10%;
}

td.equipmentPrice{
	text-align: right;
	width: 10%;
}

th.equipmentMaintInterval, td.equipmentMaintInterval{
	text-align: center;
	width: 15%;
}

th.equipmentActiveInstalledOn{
	text-align: center;
	width: 30%;
}

th.equipmentInactiveInstalledOn, th.equipmentInactiveRemovedOn{
	text-align: center;
	width: 15%;
}


.equipmentMaintName{
    text-align: left;
    border-right-color: #000000;
}

td.lastMaintenance, td.equipmentDaysSince, .equipmentMaintInterval, .equipmentMaintLast, .equipmentMaintSince{
    text-align: center;
}

td.equipmentMaintDays, td.equipmentMaintDueSoon, td.equipmentMaintDue, td.equipmentMaintOverdue{
    font-weight: bold;
    text-align: center;
}

td.equipmentMaintDays{
	font-weight: normal;
}

td.equipmentMaintDueSoon{
    background-color: #ffff00;
}

td.equipmentMaintDue{
    background-color: #ff5500;
	color: #ffffff;
}

td.equipmentMaintOverdue{
    background-color: #ff0000;
	color: #ffffff;
}

/* Logs */

#waterLogs, #logs{
    text-align: center;
}

th.logDate{
    width: 15%;
}

/* Feedings */

#feedingsDaysForm{
	text-align: center;
}

/* Water Logs */

span.waterNeverChanged{
	color: #ffff00;	
}

span.waterChangeDueSoon{
	color: #ffff00;
}

span.waterChangeDue{
	color: #ff9900;
	font-weight: bold;
}

span.waterChangePastDue{
	color: #ff0000;
	font-weight: bold;
}

th.temperature{
    width: 5%;
}

th.ammonia, th.nitrites, th.nitrates, th.phosphates, th.pH, th.KH, th.amountExchanged{
    width: 8%;
}

th.additives{
    width: 15%;
}

th.comments{
    width: 15%;
}

\
