{% extends "base.html" %}

{% block content %}
<h1 class="page-header">{{ aquarium.name }} <small>{{ aquarium.location }}</small></h1>
<ul>
  <li>Last Water Change: </li>
  <li>Last Feeding: </li>
</ul>

<h3 class="sub-header">Quick Actions</h3>
<ul class="list-inline">
  {% for action in actions %}
  <li><button type="button" class="btn btn-lg btn-primary">{{ action.name}}</button></li>
  {% endfor %}
  <li><button type="button" class="btn btn-lg btn-warning">Change Water</button></li>
  <li><button type="button" class="btn btn-lg btn-danger">Change Sponge Filter</button></li>
</ul>

<h2 class="sub-header">Active Equipment</h2>
<table class="table table-bordered table-striped">
  <tr><th>Equipment</th><th>Maint Interval</th></tr>
  {% for equip in equipment %}
    <tr>
      <td>{{ equip.name }}</td>
      <td>{{ equip.maintInterval }}</td>
    </tr>
  {% endfor %}
</table>

<h2 class="sub-header">Recent Logs</h2>
<table class="table table-bordered table-striped">
  <tr><th>Date</th><th>Summary</th></tr>
    {% for log in logs %}
      <tr>
        <td>{{ log.logDate }}</td>
        <td>{{ log.summary }}</td>
      </tr>
    {% endfor %}
</table>

{% endblock %}
