{% include "header.html" %}

<h3>Equipment List</h3>

<div id="equipment">

<table>
	<tr>
		<th rowspan="2">Name</th>
		<th colspan="3">Maintenance</th>
	</tr>
	<tr>
		<th>Interval (Days)</th>
		<th>Last</th>
		<th>Days Since</th>
	</tr>
	{% for item in equipment %}
		<tr class="{% cycle 'odd' 'even' %}">
			<td class="equipmentMaintName">
				{% comment %}
					{% if item.url %}
						<a class="equipment" href="{{ item.url }}">{{ item.name }}</a>
						{% else %}
						{{ item.name }}
						{% endif %}
				{% endcomment %}
				<a class="equipment" href="/equipment/{{ item.equipmentID }}/">
					{{ item.name }}
				</a>
			</td>
			<td class="equipmentMaintInterval">
				{% if item.maintenanceInterval %}
					{{ item.maintenanceInterval }}
				{% else %}
					N/A
				{% endif %}
			</td>
			<td class="equipmentMaintLast">
				{% if item.lastMaint %}
					{% if item.maintenance = 'Yes' %}
						{{ item.lastMaint }}
					{% else %}
						None Yet Performed
					{% endif %}
				{% else %}
					&nbsp;
				{% endif %}
			</td>
			{% if item.daysSinceMaint != None and item.maintenance = 'Yes' %}
				{% if item.daysSinceMaint > item.maintenanceInterval %}
					<td class="equipmentMaintOverdue">
				{% else %}
					<td class="equipmentMaintSince">
				{% endif %}
				{{ item.daysSinceMaint }}
				</td>
			{% else %}
				<td>&nbsp;</td>
			{% endif %}
		</tr>
    {% empty %}
	<tr><td colspan="4">No Equipment Found</td></tr>
	{% endfor %}
</table>
<br />
<a href="/aquariums/{{ aquarium.aquariumID}}">Go Back</a>
</div>

{% include "footer.html" %}