{% include "header.html" %}

<h3>Equipment List</h3>

<div id="equipment">

<table>
	<tr>
		<th>Name</th>
		<th>Date Installed</th>
		<th>Active</th>
		<th>Maintenance<br />Interval</th>

	{% for item in equipment %}
		<tr class="{% cycle 'odd' 'even' %}">
			<td class="equipmentMaintName">
				{% comment %}
					{% if item.url %}
						<a class="equipment" href="{{ item.url }}">{{ item.name }}</a>
						{% else %}
						{{ item.name }}
						{% endif %}
				{% endcomment %}
				<a class="equipment" href="/equipment/{{ item.equipmentID }}/">
					{{ item.name }}
				</a>
			</td>
			<td>{{ item.installDate }}</td>
			<td>{{ item.active }}</td>
			<td class="equipmentMaintInterval">
				{% if item.maintenanceInterval %}
					{{ item.maintenanceInterval }}
				{% else %}
					N/A
				{% endif %}
			</td>
		</tr>
    {% empty %}
	<tr><td colspan="4">No Equipment Found</td></tr>
	{% endfor %}
</table>
<br />
<a href="/aquariums/{{ aquarium.aquariumID}}">Go Back</a>
</div>

{% include "footer.html" %}