#waterLogs{
    text-align: center;
}

th.testedOn{
    width: 15%;
}


th.temperature{
    width: 10%;
}

th.ammonia, th.nitrites, th.nitrates, th.pH, th.KH, th.amountExchanged{
    width: 10%;
}

th.comments{
    width: 25%;
}

/* Temperature Range Colors */

td.highTemp{
    background-color: #FF2300;
    color: #FFFFFF;
}

/* Ammonia Colors */

td.ammonia000{
    background-color: #FFFF00;
}

td.ammonia025{
    background-color: #C6FF00;
}

td.ammonia050{
    background-color: #A2FF00;
}

td.ammonia100{
    background-color: #66FF00;
}

td.ammonia200{
    background-color: #49B700;
    color: #FFFFFF;
}

td.ammonia400{
    background-color: #3C9700;
    color: #FFFFFF;
}

td.ammonia800{
    background-color: #215400;
    color: #FFFFFF;
}

/* Nitrite Colors */

td.nitrite000{
    background-color: #00FFE4;
}

td.nitrite025{
    background-color: #8A9CFF;
    color: #FFFFFF;
}

td.nitrite050{
    background-color: #8A6BFF;
    color: #FFFFFF;
}

td.nitrite100{
    background-color: #8A47FF;
    color: #FFFFFF;
}

td.nitrite200{
    background-color: #B847FF;
    color: #FFFFFF;
}

td.nitrite500{
    background-color: #9147AB;
    color: #FFFFFF;
}

/* Nitrate Colors */

td.nitrate000{
    background-color: #FFFF00;
}

td.nitrate005{
    background-color: #FFC200;
}

td.nitrate010{
    background-color: #FFAF00;
}

td.nitrate020{
    background-color: #FF9D00;
}

td.nitrate040{
    background-color: #FF5D00;
    color: #FFFFFF;
}

td.nitrate080{
    background-color: #FF2400;
    color: #FFFFFF;
}

td.nitrate160{
    background-color: #9A1500;
    color: #FFFFFF;
}