table{
    border-collapse:collapse;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

th{
    color: #FFFFFF;
    background-color: #000000;
}

td, th{
    border: 1px solid black;
}

