{% include "header.html" %}

<h2>{{ life.nickname }}</h2>

<table>
	<tr>
		<th>Aquarium</th>
		<td>{{ life.aquariumID.name }}</td>
	</tr>
	<tr>	
		<th>Common Name</th>
		<td>{{ life.lifeTypeID.commonName }}</td>
	</tr>
	<tr>
		<th>Source</th>
		<td>{{ life.source }}</td>
	</tr>
	<tr>
		<th>Date Introduced</th>
		<td>{{ life.dateAdded }}</td>
	</tr>
	<tr>
		<th>Notes</th>
		<td>{{ life.notes }}</td>
	</tr>
</table>

<h3>Log</h3>
<table>
	<tr>
		<th class="lifeLogDate">Date</th>
		<th class="lifeLogEntry">Entry</th>
	</tr>
{% for log in life_logs %}
	<tr>
		<td>{{ log.logDate }}</td>
		<td>{{ log.logEntry }}</td>
	</tr>
{% empty %}
	<tr><td colspan="2">No Log Found</td></tr>
{% endfor %}
</table>

<h2>Add Log Entry</h2>

<div class="formBox">
<form action="/life/{{ life.lifeID }}/" method="post">
	{% csrf_token %}
	{{ life_log_form.as_p }}
	<input type="submit" value="Add" />
</form>
</div>
<br />
<a href="/aquariums/{{ life.aquariumID.aquariumID}}">Go Back</a>
</div>

{% include "footer.html" %}