{% include "header.html" %}

<h1>Life</h1>

<div id="aquariumLife">

<table>
	<tr>
		<th class="lifeNickname">Nickname</th>
		<th class="lifeCommonName">Common Name</th>
		<th class="lifeKind">Kind</th>
		<th class="lifeDateAdded">Added</th>
		<th class="lifeDateRemoved">Removed</th>
	<tr>
	{% for item in life %}
		<tr class="{% cycle 'odd' 'even' %}">
			<td><a class="life" href="/life/{{ item.lifeID }}">{{ item.nickname }}</td>
			<td>{{ item.lifeTypeID.commonName }}</td>
			<td>{{ item.lifeTypeID.kind }}</td>
			<td>{{ item.dateAdded }}</td>
			<td>{{ item.dateRemoved }}</td>
		</tr>
	{% empty %}
    	<tr><td colspan="5">No Living Creatures</td></tr>
	{% endfor %}
</table>
<br />
<table>
	<tr>
		<th>Kind</th>
		<th>Count</th>
	</tr>
	{% for kind in life_kind_summary %}
		<tr class="{% cycle 'odd' 'even' %}">
			<td>{{ kind.kind }}</td>
			<td>{{ kind.kindCount }}</td>
		</tr>
	{% empty %}
		<tr><td colspan="2">No Living Creatures</td></tr>
	{% endfor %}
</table>

</div>
<br />
<a href="/aquariums/{{ aquarium_id }}">Go Back</a>

{% include "footer.html" %}